@import 'resets.scss';
@import 'variables.scss';
@import 'navbar.scss';
@import 'forms.scss';
@import 'issue.scss';

@import 'backlog-manager.scss';


html, body {
	font-family: mavenProLight;
	color: #FFF;
	font-weight: 100;
}

button {
	width: 100%;
	height: 50px;
	font-size: 22px;
	font-weight: lighter;
	background: $button;
	border: none;
	color: $lightFont;
	content: '';
	cursor: pointer;

	&:hover {
		background: rgba($button, 0.6);
	}

	&:active {
		background: rgba($button, 0.3);
	}
}

.title {
	position: absolute;
	bottom: 20px;
	font-size: 30px;
	width: 300px;
	text-align: center;
	left: 50%;
	margin-left: -150px;
	color: $lightFont;
	opacity: 1;
}

.spinner {
  width: 100%;
  height: 50px;
  //display: none;
  position: relative;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  background-color: #333;
  opacity: 0.2;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: bounce 3.0s infinite ease-in-out;
  animation: bounce 3.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation: none;
  animation: none;
}

@-webkit-keyframes bounce {
  0%, 100% { -webkit-transform: scale(1.0) }
  50% { -webkit-transform: scale(0.0) }
}

@keyframes bounce {
  0%, 100% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  } 50% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  }
}

.home {
	position: fixed;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	background: $red;

	img {
		position: absolute;
		width: 30%;
		margin: 100px 50%;
		left: -15%;
	}

	h1 {
		position: absolute;
		text-align: center;
		font-size: 120px;
		font-weight: lighter;
		width: 20%;
		margin: 500px 50%;
		left: -10%;
		a {
			text-decoration: none;
			color: $lightFont;
		}
	}
}